@media screen and (max-width: 768px) {
    .my-photo {
        display: none;
    }

    .main-title {
        width: 100%;
    }

    .navigation-desktop {
        display: none;
    }

    .navigation-mobile {
        width: 30px;
        height: 30px;
        position: relative;
    }

    .navigation-mobile .toggle {
        width: 30px;
        height: 30px;
        position: fixed;
        z-index: 9999;
        cursor: pointer;
        opacity: 0;
    }

    .navigation-mobile a {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px rgba(0, 0, 0, .5);
    }

    .navigation-mobile  .toggle:checked+.panel {
        left: 0;
        opacity: 1;
    }

    .navigation-mobile .panel {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9998;
        left: 100vw;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0;
        transition: left 1s, opacity 1s;
    }

    .navigation-mobile:before {
        font-family: FontAwesome;
        font-size: 50px;
        color: #fff;
        display: block;
        content: "\f0c9";
        width: 30px;
        height: 30px;
        position: fixed;
        z-index: 9999;
        top: 7px;
    }

    .navigation-mobile .menu {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navigation-mobile .menu ul {
        list-style-type: none;
        padding: 0;
    }

    .navigation-mobile .menu ul li {
        margin: 1em 0;
    }

    .main-title {
        font-size: 29px;
    }

    .photos {
        flex-direction: column;
    }

    .trains-text {
        font-size: 14px;
    }

    .break-cards-wrapper {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .about-break-card {
        margin: 0;
    }

    .about-break-container {
        padding-right: 40px;
        padding-left: 40px;
    }

    .vids {
        flex-direction: column;
    }

    .video {
        max-width: 300px;
    }

    .break-vids-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .join-container {
        flex-direction: column;
    }
    
    .qr-code {
        width: 100%;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 769px) {
    .navigation-mobile {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .my-photos {
        display: none;
    }

    .main-container {
        justify-content: center;
    }
}